@import '~bootstrap/scss/bootstrap';
$black: #000;

body {
}

.box {
  align-items: center;
  border: 1px solid $black;
  display: flex;
  height: 150px;
  justify-content: center;
  font-size: 40px;
  color: #93C54B;
}

h3 #user-message {
  font-style: italic;
}
