@import '~bootstrap/scss/bootstrap';

$white: #fff;
$grey: #999;
$light-teal: #45818E;
$dark-teal: #134F5C;
$title-teal: #2c7e82;
$board-blue: #0B5394;

body {
  background-color: transparent;
  background-image: url('public/light-teal-bg.jpg');
  background-size: cover;
  font-family: 'Muli', sans-serif;
}

.box {
  align-items: center;
  background-image: url('public/tic-tac-toe-bg.jpg');
  background-position: center top;
  border: 3px solid $white;
  color: $white;
  display: flex;
  font-size: 80px;
  height: 230px;
  justify-content: center;

  &:hover {
    background-image: url('public/tic-tac-toe-bg.jpg');
    background-position: center center;
    color: $board-blue;
  }
}

input {
  border-radius: 8px;
  font-style: italic;
  padding: 5px 10px;
}

.submit {
  background-color: $dark-teal;
  border-color: transparent;
  border-radius: 8px;
  color: $white;
  font-style: italic;
  padding: 5px 10px;
  vertical-align: middle;

  &:hover {
    background-color: $light-teal
  }
}

button.btn.btn-primary,
button#games-index {
  margin-right: 8px;
}

form#sign-up {
  margin-bottom: 30px;
}

form#sign-up, form#sign-in {
  border: 2px solid $title-teal;
  margin: 30px auto;
  padding: 30px;
  width: 75%;
}

h3 {
  color: $title-teal;
  font-family: 'Aclonica', sans-serif;
}

h3#user-message {
  margin: 20px;
  text-align: center;
}

nav {
  border-bottom: 3px solid $title-teal;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.page-title {
  text-align: center;
}

h1 {
  color: $title-teal;
  float: none;
  font-family: 'Aclonica', sans-serif;
  margin: 0 auto;
  text-align: center;
}
